/* utility */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

*:not(body,header, html, main){
/*     border: 1px solid grey;
    border-radius: 10px; 
    margin-top: 10px; 
 */}
/* /utility */

body{
    width: 90%;
    margin: auto;
}

/* header */
#logo, #navigazione{
    margin-bottom: 50px;
}

li{
    list-style: none;
    display: inline;
    padding: 10px 15px;
}

a{
    text-decoration: none;
    text-transform: uppercase;
    color: gray;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

#container_1{
    height: 600px;
    width: 100%;    
    position: relative;    
}

#copertina{
    height: 100%;
    width: 100%;
    background-size: contain;
    position: absolute; top: 0; left: 0;
}

.img{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.tenda{
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    position: absolute; top: 0px; left: 0px;
    border-radius: 10px;
}

#text_copertina{
    width: 600px;
    padding: 40px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute; top: 50%;
}
/* /header */

/* main */
#titolo_contenuto{
}

 h2{
    font-size: 40px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 30px;
 }

 .tenda_1:not(.par){
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    position: absolute; top: 0; left: 0;
    border-radius: 10px;
 }

.section_left, .section_right{
    height: 300px;
    width: 18%;
    float: left;
    position: relative;
    margin-top: 30px;
}

#content{
    width: 60%;
    float: left;
    position: relative;
    margin:30px 20px;
}

#banner{
    height: 300px;
    width: 60%;
}

/* /main */

/* footer */
footer{
    width: 100%;
}
/* /footer */