/* utility */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
/* /utility */

body{
    width: 90%;
    margin: auto;
}

/* header */
#logo, #navigazione{
    margin-bottom: 50px;
}

li{
    list-style: none;
    display: inline;
    padding: 10px 15px;
}

a{
    text-decoration: none;
    text-transform: uppercase;
    color: gray;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

#container_1{
    height: 600px;
    width: 100%;    
    position: relative;    
}

#copertina{
    height: 100%;
    width: 100%;
    background-size: contain;
    position: absolute; top: 0; left: 0;
}

.img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.tenda{
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    position: absolute; top: 0px; left: 0px;
    border-radius: 10px;
}

#text_copertina{
    width: 900px;
    padding: 40px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute; top: 55%;
}
/* /header */

/* main */

.section_left, .section_right{
    height: 300px;
    width: 18%;
    float: left;
    margin-top: 30px;
}

.colonne_laterali{
    position: relative;
}

#content{
    width: 60%;
    float: left;
    margin:30px 20px;
}

#banner{
    position: relative;
    height: 300px;
}

.tenda_1{
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    position: absolute; top: 0; left: 0;
    border-radius: 10px;
}

h2{
   font-size: 40px;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   margin-top: 30px;
}

h3{
    margin: 15px 0px 10px 0px;
}

p:not(#pretium, #intest){
    color: gray;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
/* /main */

/* footer */
footer{
    width: 100%;
    margin-top: 10px;
}

footer p:only-of-type{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}

strong{
    color: red;
    font-size: 30px;
}
/* /footer */